<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="mx-8 my-10 px-4">
        <ul class="flex flex-row justify-evenly">
        
            {% for s in nodeslist %}
            
            
            <div  class="w-48 my-10 py-4 border px-2 text-center ">
                <li class="font-bold">Node : {{s['id']}}</li>
                <h1 class="font-medium text-base">Key : {{s['key']}}</h1>
                <h1>Value : {{s['value']}}</h1>
                <h1>Status : {{s['status']}}</h1>
            </div>
        
            {% endfor %}
          </ul>
    </div>
</body>
</html>