<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRAQ - CHAIN - {{coo_no}}</title>
</head>
<body>
    <div  class="m-20">
        <div class="shadow py-8 px-10">
    <div class="w-72 h-full ">
        <div class=" flex border border-gray-300 text-gray-800 bg-white shadow-lg">
            <select class="appearance-none w-full py-1 px-2 bg-white" name="whatever" id="frm-whatever">    
                <option value="w">Write</option>
                <option value="r">Read</option>
              
            </select>
            
               
        </div>
    </div>
    <div class="flex flex-col my-10">
        <div>
        <label for="Key" class="px-2">Key : </label>
        <input class="border-2 w-72" type="text" name="Key" id="Key" />
        </div>
        <div class="mt-2" ref="value-key-input">
            <label for="Value">Value :</label>
            <input class="border-2 w-72" type="text" name="Value" id="Value" />
        </div>
</div>
<div>
    <button class="bg-[#0d5798] hover:bg-white hover:text-[#0d5798] hover:border hover:border-[#0d5798] text-white font-bold py-2 px-4 rounded" onclick="alert('submit')">
        Submit
      </button>
</div>
</div>

<div class="my-10 border-2 border-gray-300 shadow h-80">
    <h1 class="text-center mx-auto py-2 px-2 font-bold text-2xl">Node {{ node_id }} Database</h2>
</div>
</div>  
</body>
<script>
    const js=007;
    const select = document.getElementById('frm-whatever');
    select.addEventListener('change', (event) => {
        console.log(event.target.value);
    });

    const valueKeyInput = document.querySelector('[ref="value-key-input"]');
    select.addEventListener('change', (event) => {
        if (event.target.value === 'w') {
            valueKeyInput.style.display = 'block';
        } else {
            valueKeyInput.style.display = 'none';
        }
    });





</script>
</html>